name: Build and Publish Devcontainer

on:
  push:
    branches:
      - main
    paths:
      - '.devcontainer/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/ukgovernmentbeis/inspect_k8s_sandbox-devcontainer
          push: always
