name: Test using Pytest

on:
  workflow_call:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install -g @devcontainers/cli@v0.30.0
      - run: devcontainer up --workspace-folder=devcontainer-templates/default
      - run: devcontainer exec --workspace-folder=devcontainer-templates/default uv run pytest -rA -x --color=yes
